{
  "env": {
    "server": {
      "plugins": ["react-imported-component/babel", "babel-plugin-dynamic-import-node", "@emotion/babel-preset-css-prop", "@loadable/babel-plugin", ["emotion",
      {
        "sourceMap": true,
        "autoLabel": "process.env.NODE_ENV !== 'production'",
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }],["import", {
  "libraryName": "antd",
  "style": true,
},{
  "libraryName": "lodash",
  "libraryDirectory": "",
  "camel2DashComponentName": false,
}]]
    },
    "client": {
      "plugins": ["react-imported-component/babel", "@emotion/babel-preset-css-prop", "@loadable/babel-plugin", ["emotion",
      {

        "sourceMap": true,
        "autoLabel": "process.env.NODE_ENV !== 'production'",
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }],["import", {
  "libraryName": "antd",
  "style": true,
},{
  "libraryName": "lodash",
  "libraryDirectory": "",
  "camel2DashComponentName": false,
},{
  "libraryName": "@material-ui/core",
  "libraryDirectory": "components",
  "camel2DashComponentName": false,
}]]
    }
  }
}
