.footer
{
    position: fixed;
    z-index: 10000;
    bottom: 0;

    height: 1em;

    color: $body-font-color;
    background-color: rgba( $dark, .8 );

    @include spacer ( .75em 0, 0 );
    @include alignCenter;
    @include textAdj(
    $fontfam: null,
    $scale: 1,
    $align: center,
    $color: $light,
    $weight: inherit,
    $style: null,
    $variant: null,
    $stretch: null
    );
    @include breakpoint($mobile1st)
    {
        @include grid-column( 12, $footerGrid );
    }
}
