
.bg-animation
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/notebook-computer-work-screen-apple-pencil-1223781-pxhere.com.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-sequence
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/board-cinema-cinematography-274937.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-promoGif
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/computer-light-technology-night-line-color-1052875-pxhere.com.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-vectorArt
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/board-white-camera-retro-film-motion-693726-pxhere.com.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}
