
.bg-filmScore
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/alkenox-me-images/black-and-white-blur-book-164821.jpg',
    $size: cover,
    $repeat: no-repeat,
    $position: center top
    );
}


.bg-gameScore
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/alkenox-me-images/business-cellular-telephone-communication-682933.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-sourceCue
{
    height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;

    @include bgImg(
    $src: '../static/images/alkenox-me-images/books-cabinet-drawers-1173651.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}
