
.bg-sound
{
    //height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;
    @include bgImg(
    $src: '../static/images/alkenox-me-images/action-figures-art-boy-163036.jpg',
    $size: cover,
    $repeat: no-repeat,
    $position: center top
    );
}


.bg-interactive
{
    //height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;
    @include bgImg(
    $src: '../static/images/alkenox-me-images/activity-adult-device-1174746.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-branded
{
    //height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;
    @include bgImg(
    $src: '../static/images/alkenox-me-images/character-classic-colorful-163114.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}

.bg-film
{
    //height: 80vh;
    //opacity: .7;
    //background-attachment: fixed;
    @include bgImg(
    $src: '../static/images/alkenox-me-images/air-broadcast-audio-blur-1054715.jpg',
    $size: 100%,
    $repeat: no-repeat,
    $position: center
    );
}
