
$light: rgba(52,152,255,1);
$richer: rgba(149,182,255,1);
$transparent: rgba(0,0,0,0);
$dark: rgba(0,0,0,1);
$white: rgba(#fff,1);
$darkTint: rgba(0,0,0,.85);

$logo: 'https://github.com/alkenox/alkenox-me-images/blob/master/logo.png?raw=true';

$sans: 'system-ui, sans-serif';
$mono: 'Menlo, monospace';
