// With Parcel, you have nothing to setup for SCSS, you just write!

$light: rgba(52,152,255,1);
$richer: rgba(149,182,255,1);
$transparent: rgba(0,0,0,0);
$dark: rgba(0,0,0,1);
$white: rgba(#fff,1);
$darkTint: rgba(0,0,0,.85);

$LiveCamera: 'https://github.com/Alkenox-ME/alkenox-me-images/blob/master/blur-camera-camera-equipment-639090.jpg?raw=true'


$logo: 'https://github.com/alkenox/alkenox-me-images/blob/master/logo.png?raw=true';

$sans: 'system-ui, sans-serif';
$mono: 'Menlo, monospace';

@import './global/antd.scss';
@import './global/sanitize.scss';


.pricebg
{
    background-image: $LiveCamera;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.prime
{
    width: 100%;
    padding: .5em 1em;

    cursor: pointer;
    transition: .5s ease-in-out;

    color: $light;
    border-color: $light;
    background-color: $darkTint;
    &:hover
    {
        transition: .5s ease-in-out;

        color: $richer;
        border-color: $richer;
        background-color: $darkTint;
    }
}

body
{
    overflow-x: hidden;

    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;

    color: $richer;
    background-color: $darkTint;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a
{
    transition: all 1s ease-in-out;
    text-decoration: none;

    color: $light;

    &:hover,
    &:focus
    {
        transition: all .5s ease-in-out;

        color: $richer;
    }
}

// Label Aligner

.relative
{
    position: relative;
}

.absolute
{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.fitImg
{
    object-fit: cover;
    object-position: center;
}

.hoverOverlay
{
    cursor: pointer;
    transition: .5s ease-in-out;

    opacity: .3;
    &:hover
    {
        transition: .5s ease-in-out;

        opacity: .8;
    }
}
//----------

.rad-6
{
    border-radius: 60%;
}

//Nav BTN
.btn-nav
{
    padding: .5em 1em;

    cursor: pointer;
    transition: all 1s ease-in-out;
    text-decoration: none;

    color: $light;
    border-color: $light;
    background-color: $darkTint;

    &:hover,
    &:focus
    {
        transition: all .5s ease-in-out;

        color: $richer;
        background-color: $darkTint;
    }
}

.nav-drawer
{
    background-color: $darkTint;
}
//----------

.labelLink
{
    cursor: pointer;
    transition: all 1s ease-in-out;
    text-decoration: none;

    color: $light;

    &:hover,
    &:focus
    {
        transition: all .5s ease-in-out;

        color: $richer;
    }
}
span
{
    border: 0;
}
.ReactModal__Overlay,
.ReactModal__Content,
.ReactModal__Overlay--after-open,
.ReactModal__Overlay--before-close
{
    z-index: 10200;

    margin: 0;
    padding: 0;

    border: none;
    background: $dark;
}

.ReactModal__Overlay
{
    transition: opacity 500ms ease-in-out;

    opacity: 0;
}

.ReactModal__Overlay--after-open
{
    opacity: 1;
}

.ReactModal__Overlay--before-close
{
    opacity: 0;
}

.navTrigger
{
    line-height: .25em;

    position: fixed;
    z-index: 10000;

    padding: .25em;

    cursor: pointer;

    color: $richer;
    border-width: 0;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
}

.closeTrigger
{
    position: fixed;
    z-index: 10000;

    display: flex;
    align-content: center;
    justify-content: center;

    margin: 1em;
    padding: 1em;

    cursor: pointer;
    transition: all .5s ease-in-out;

    color: $light;
    border-width: .13em;
    border-color: $light;
    background-color: rgba(0,0,0,.7);
    &:hover
    {
        transition: all .5s ease-in-out;

        color: $richer;
        border-color: $richer;
        background-color: rgba(0,0,0,.7);
    }
}

.btn
{
    font-size: 16px;

    display: inline-block;

    margin: 0;
    padding: 0;
    padding: 5px 15px;

    cursor: pointer;
    white-space: nowrap;

    color: $white;
    border: none;
    border: 1px solid $dark;
    border-radius: 5px;
    background-color: $transparent; /* Green */
    background-image: linear-gradient($light, $dark);
    &:hover
    {
        background-image: linear-gradient($light, $dark);
        &[disabled]
        {
            background-image: linear-gradient($light, $dark);
        }
    }
    &:visited
    {
        color: black;
    }
    &[disabled]
    {
        cursor: not-allowed;

        opacity: .6;
    }
}
.buttons
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: 15px;
}
button
{
    margin: 0 10px;
}
.giphy-frame
{
    position: relative;

    width: 100%;
    height: 100%;
    padding-bottom: 56%;
}
.player-wrapper
{
    position: relative;

    display: block;

    width: 100vw;
    height: 100vh;
    //@include aspect-ratio( $width: 1920, $height: 1080 );
    //padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player
{
    position: absolute;
    top: 0;
    left: 0;
}

.audio-player
{
    display: flex;

    width: 100%;
    padding: .5rem;

    border-radius: 10px;
    background-color: rgba($light, .7);

    flexDirection: row;
    justifyContent: left;
    alignContent: left;
    filter: invert(25%);
}

.p4
{
    padding: 4em;
}

.centerTxt
{
    justify-content: center;

    text-align: center;
}

.centerMargin
{
    margin: 0 auto;
}
.fluid
{
    width: 100%;

    object-fit: cover;
    object-position: center;
}
.b-radius-1
{
    border-radius: 50em;
}
.bannerize
{
    height: 40vh;
}


.ant-input
{
    font-size: 1.5em;

    width: 100%;
    height: 100%;
}
.ant-input-number
{
    font-size: 1.5em;

    width: 100%;
}
.ant-checkbox
{
    text-shadow: $darkTint;
}
.ant-tabs
{
    margin: auto 0;

    color: inherit;
}
.ant-drawer-title
{
    //font-size: 16px;
    //font-weight: 500;
    //line-height: 22px;
    //margin: 0;
    color: $light;
}
.ant-drawer-content
{
    //position: relative;
    //z-index: 1;
    //border: 0;
    background-color: $darkTint;
    //background-clip: padding-box;
}
.ant-drawer-close
{
    //font-size: 16px;
    //font-weight: 700;
    //font-style: normal;
    //line-height: 56px;
    //position: absolute;
    //z-index: 10;
    //top: 0;
    //right: 0;
    //display: block;
    //width: 56px;
    //height: 56px;
    //padding: 0;
    //cursor: pointer;
    //-webkit-transition: color .3s;
    //        transition: color .3s;
    //text-align: center;
    //text-decoration: none;
    //text-transform: none;
    color: $light;
    //border: 0;
    //outline: 0;
    background: transparent;

    //text-rendering: auto;
}
.ant-drawer-close:focus,
.ant-drawer-close:hover
{
    //text-decoration: none;
    color: $light;
}
.ant-drawer-header
{
    //position: relative;
    //padding: 16px 24px;
    color: $light;
    border-bottom: 1px solid #e8e8e8;
    //border-radius: 4px 4px 0 0;
    background: $darkTint;
}
.ant-drawer-header-no-title
{
    color: $light;
    background: $darkTint;
}
.ant-drawer-body
{
    //font-size: 14px;
    //line-height: 1.5;

    //padding: 24px;

    //word-wrap: break-word;
}
.ant-drawer-mask
{
    //position: fixed;
    width: 100%;
    height: 0;
    //-webkit-transition: opacity .3s linear, height 0s ease .3s;
    //          transition: opacity .3s linear, height 0s ease .3s;

    opacity: 0;
    background-color: $darkTint;

    //  filter: alpha(opacity=50);
}
.logo-bg
{
    background-image: url($logo);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.tint-bg
{
    align-content: center;

    min-width: 100vw;
    min-height: 100vh;

    background-color: rgba($dark, .8);
}
.ant-tabs
{
    font-size: 1em;
    //font-variant: tabular-nums;
    //line-height: 1.5;
    //position: relative;
    //overflow: hidden;
    //zoom: 1;
    //-webkit-box-sizing: border-box;
    //        box-sizing: border-box;
    //margin: 0;
    //padding: 0;
    //list-style: none;

    color: $light;

    //-webkit-font-feature-settings: 'tnum';
    //        font-feature-settings: 'tnum';
}
.ant-tabs-tab
{
    font-size: 1.3em;
    //font-variant: tabular-nums;
    //line-height: 1.5;
    //position: relative;
    //overflow: hidden;
    //zoom: 1;
    //-webkit-box-sizing: border-box;
    //        box-sizing: border-box;
    //margin: 0;
    //padding: 0;
    //list-style: none;

    color: $light;

    //-webkit-font-feature-settings: 'tnum';
    //        font-feature-settings: 'tnum';
}

.ant-collapse
{
    //color: $light;
    background-color: rgba($white, .6);
}
.ant-collapse-item
{
    //color: $light;
    //background-color: inherit;
}
.ant-collapse-item-active
{
    //color: $light;
    //background-color: inherit;
}
.ant-collapse-header
{
    //color: $light;
    //background-color: inherit;
}
.ant-collapse-content
{
    //color: $light;
    background-color: inherit;
}
.ant-collapse-content-active
{
    //color: $light;
    //background-color: inherit;
}
.ant-collapse-content-inactive
{
    //  color: $light;
    //  background-color: inherit;
}
